body {
  background: url("images/v2-aff3c30e0a25dec0840072d0b56607b5_r.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
