// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;





// Buttons
// --------------------------------------------------
$btn-default-bg                 = white;
$btn-default-color              = #006762;
$btn-default-font-size          = $font-size-small;
$btn-default-border-width       = 2px;
$btn-default-border-color       = #006762;
$btn-default-hover-bg           = #456f95;
$btn-default-hover-color        = white;
$btn-default-hover-border-color = #456f95;